{% import "bootstrap/wtf.html" as wtf %}


{# a little macro just so that the player_field displays errors correctly#}
{% macro begin_form(form) %}
{%- set _enctype = [] %}
<form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens='only') }}

  <div class="form-group row {% if form.players.errors %} has-error{% endif -%}">
    {{ form.players.label(class="control-label")|safe }}
    {{ form.players(class="form-control", **kwargs)|safe }}
    {%- if form.players.errors %}
      {% for error in form.players.errors %}
        {% if error is not mapping %}
          <p class="help-block h3">{{error}}</p>
        {% endif %}
      {%- endfor %}
    {%- elif form.players.description -%}
      <p class="help-block">{{form.players.description|safe}}</p>
    {%- endif %}
  </div>
  {{ wtf.form_field(form.funding_rate) }}
  {{ wtf.form_field(form.submit) }}

</form>
{%- endmacro %}


{# a similar macro for the city forecast ability #}
{% macro forecast_form(form) %}
{%- set _enctype = [] %}
<form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens='only') }}

  <div class="form-group row {% if form.forecast_cities.errors %} has-error{% endif -%}">
    {{ form.forecast_cities.label(class="control-label")|safe }}
    {{ form.forecast_cities(class="form-control", **kwargs)|safe }}
    {%- if form.forecast_cities.errors %}
      {% for error in form.forecast_cities.errors %}
        {% if error is not mapping %}
          <p class="help-block h3">{{error}}</p>
        {% endif %}
      {%- endfor %}
    {%- elif form.forecast_cities.description -%}
      <p class="help-block">{{form.forecast_cities.description|safe}}</p>
    {%- endif %}
  </div>
  {{ wtf.form_field(form.submit) }}

</form>
{%- endmacro %}

