{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% import "macros/game.html" as game_macros %}

{% block title %}Pandemic Legacy 0.1{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/datatables.min.css"/>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='biohazard.png') }}">
{% endblock %}

{% block navbar %}
  {{nav.navbar.render()}}
{% endblock %}

{% block content %}
  {{ util.flashed_messages() }}
{% endblock %}
