{% extends "base.html" %}
{% import "macros/form.html" as form_macro %}

{% block title %}City Forecast{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container-fluid">
    {{ form_macro.forecast_form(form) }}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/html5sortable.js') }}"></script>
  <script>

  sortable('.js-grid', {
    forcePlaceholderSize: true,
    placeholderClass: 'btn col-xs-3 border',
    acceptFrom: '.js-grid-target',
    items: ':not(.border)'
  });

  sortable('.js-grid-target', {
    forcePlaceholderSize: true,
    placeholderClass: 'btn col-xs-12 border',
    acceptFrom: '.js-grid',
    items: ':not(.border)',
    maxItems: 1
  });

  sortable('.js-item-grid', {
    forcePlaceholderSize: true,
    placeholderClass: 'li border'
  });

  let update_forecast = function() {
    $('ol.js-item-grid li').each(
      function(index) {
        $(this).find('input[type="hidden"][name$="stack_order"]').attr("value", index);
        $(this).find('input[type="hidden"][name$="city_name"]')
          .attr("value", $(this).find('div.js-grid-target > div.btn:only-child').text().trim());
      });
  };

  $('#submit')[0].addEventListener('mousedown', update_forecast);

  </script>
{% endblock %}
