/* Simple reset */


* {
  margin: 0;
  padding: 0;
}


/* General Styles */

body {
  font: 15px/1.3 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 20px;
}


/* colors for cities */

.city {
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px !important;
}

.city-blue {
  background: #0069AA;
}

.city-red {
  background: #E41937;
}

.city-black {
  background: #000000;
}

.city-yellow {
  background: #FFF56F;
  color: #000000;
}

.city-white {
  background: #FFFFFF;
  color: #000000;
}


/* game state */

div.game-state {
  font-size: larger;
  text-align: right;
}

tr.gs-header > th {
  text-align: center;
}

td {
  width: 20%;
}


/* forms and buttons */

.form-control {
  height: auto;
}

.form-group label {
  display: block;
}

div.btn {
  margin: 2px;
  border-radius: 3px !important;
}

div.btn.active {
  opacity: 0.4;
}

div.row#cities {
  /* a little space to separate the stacks */
  margin-bottom: 10px;
}


/* player drag-n-drop stuff */

.border {
  border: 1px solid #ccc
}

ol.js-item-grid {
  border: 0;
  box-shadow: none;
  width: 40%;
}

ol.js-item-grid > li {
  margin-bottom: 4px;
  display: list-item;
}

ol.js-item-grid > li:before {
  display: inline-block;
  vertical-align: middle;
}

ol.js-item-grid > li > div {
  display: inline-block;
}

ol.js-item-grid > li > div.js-grid-target {
  min-height: 51px;

}

ol.js-item-grid > li > div > div.btn {
  width: 100%;
}


/* colors for players */

.player {
  color: #000000;
  min-height: 40px;
  border: 1px solid #ccc
}

.players-0 {
  background: #614B3D;
  color: #FFFFFF;
}

.players-1 {
  background: #F0F0F0;
}

.players-2 {
  background: #E66CA9;
}

.players-3 {
  background: #00ABC7;
}

